<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Victor Angelo Legat Cerqueira">
    <link rel="styles" href="./Styles/contatos.css">
    <title>Contatos</title>
</head>
<body>
    <h3>
    <p>Nossos contatos são:</p>
    <p>Email: comercial@cergat.com</p>
    <p>Telefone: (11) 99999-9999</p>
    </h3>
</body>
</html>